@model List<SistemaVentaDeRopaOnline.Models.Categoria>

@{
    ViewData["title"] = "Listar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-header">
    <div class="page-title">
        <h4>Lista de Categorías</h4>
        <h6>Gestiona tus categorías</h6>
    </div>
    <div class="page-btn">
        <a asp-action="Crear" asp-controller="Categoria" class="btn btn-added">
            <img src="~/assets/img/icons/plus.svg" alt="img" class="me-1">Agregar Nueva Categoría
        </a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="table-top">
            <div class="search-set">
                <div class="search-input">
                    <a class="btn btn-searchset"><img src="~/assets/img/icons/search-white.svg" alt="img"></a>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table datanew">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var categoria in Model)
                    {
                        <tr>
                            <td>@categoria.Id</td>
                            <td>@categoria.Nombre</td>
                            <td>@(categoria.Estado == true ? "Activado" : "Desactivado")</td>
                            <td>
                                <a class="me-3" asp-action="Estado" asp-route-id="@categoria.Id">
                                    @if (categoria.Estado)
                                    {
                                        <i class="fs-4 bi bi-toggle-on"></i>
                                    }
                                    else
                                    {
                                        <i class="fs-4 bi bi-toggle-off"></i>
                                    }
                                </a>
                                <a class="me-3" asp-action="Editar" asp-route-id="@categoria.Id">
                                    <img src="~/assets/img/icons/edit.svg" alt="img">
                                </a>
                                <a class="confirm-text" onclick="showConfirmDeleteAlert('Categoria', 'Eliminar', @categoria.Id)">
                                    <img src="~/assets/img/icons/delete.svg" alt="img">
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>